/* Container styles */
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding: 5px;
  background-color: rgb(108, 108, 103); /* White */
  border: 1px solid #dcdcdc; /* Light grey border */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

/* Customer details styles */
.customer-details {
  margin: 10%;
  padding: 20px;
  background-color: #dfdfdf; /* Light red */
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 18px; 
  margin-bottom: 20px; 
  text-align: center;
}

.customer-details h1 {
  margin-bottom: 25px;
  font-size: 20px;
}

.customer-details p {
  margin-top: 10px;
}

/* Dropdowns styles */
.dropdowns {
  margin: 2%;
  padding: 20px;
  background-color: #dfdfdf;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}

/* Grid container styles */
.grid-container {
  margin-top: 20px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
}

/* Grid item styles */
.grid-item {
  padding: 15px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
  font-size: 16px;
}

.grid-item.status-false {
  background-color: #91c39c; /* Light green */
}

.grid-item strong {
  color: #000000; /* Darker red */
}

/* Failure status styles */
.grid-item div {
  color: #333; /* Black */
}

.failure-reasons-heading {
  color: black;
  font-size: 18px; /* Increase font size */
}

.additional-info {
  order: 3;
  padding: 20px;
  background-color: #dfdfdf; /* White */
  border: 1px solid #dcdcdc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 16px;
  text-align: center;
  margin-top: 20px;
}

.custom-modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 80%; /* Adjust the width as needed */
  max-width: 600px; /* Limit the maximum width */
  background-color: rgb(225, 231, 122);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000; /* Adjust the z-index as needed */
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999; /* Should be lower than modal z-index */
}

.modal-content {
  padding: 20px;
  font-size: 16px;
}

.modal-content button {
  background-color: #797979; /* Darker red */
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 20px;
}

.modal-content button:hover {
  background-color: #c70000; /* Slightly lighter red on hover */
}

.first{
  border: 1px solid blue;
  margin-top: 5px;
}

.myParagraph{
  margin: 5%;
  padding: 10px;
  background-color: #dfdfdf;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  position: relative;
}